{% extends 'basic/base.html' %}
{% block body %}
<div class="container container-fluid">
	<div class="row">
		<div class="box box-info">
			<div class="box-header">
				<h4 class="box-title">All Categories</h4>
				<a href="{% url 'basic:add_category' %}" class="btn btn-info pull-right">Add Category</a>
			</div>
			<div class="box-body">
				<table class="table table-hover tabled bordered">
					{% for cat in all_categories %}
						<tr>
							<td>{{cat}}</td>
							<td>
								<a href="{% url 'basic:subcategory_list' cat.id %}"><span class="btn btn-info glyphicon glyphicon-list"></span></a>
								<a href = "{% url 'basic:edit_category' cat.id %}"><span class="btn btn-info glyphicon glyphicon-edit"></span></a>
								<a href = "{% url 'basic:delete_category' cat.id %}" ><span class="btn btn-danger glyphicon glyphicon-remove"></span></a>
							</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>

{% endblock %}