{% extends 'basic/base.html' %}
{% block body %}

<div class="container">

<div class="box">
      <div class="box-header">
            <i class="fa fa-th"></i>
                    <h3 class="box-title">Income-Outcome Graph</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn bg-teal btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn bg-teal btn-sm" data-widget="remove"><i class="fa fa-times"></i>
                </button>
            </div>
      </div>
      <div class="box-body chart-responsive">
              <div class="chart" id="line-chart" style="height: 300px;"></div>
      </div>
</div>
<script>
  $(function () {
    "use strict";

    // LINE CHART
        var line = new Morris.Line({
          element: 'line-chart',
          resize: true,
          data: [
          {% for x in overall_report %}
            {month: '2017-{{x.0}}', income: {{x.1}}, outcome: {{x.2}}},
          {% endfor %}
          ],
          xkey: 'month',
          ykeys: ['income','outcome'],
          labels: ['Income', 'Outcome'],
          lineColors: ['#00ff00','#ff0000'],
          hideHover: 'auto',
          xLabels:'month'
        });

  });
</script>
{% for subcategory, stats in graphs.items %}
<div class="col-md-6">
<div class="box">
      <div class="box-header">
            <i class="fa fa-th"></i>
                    <h3 class="box-title">{{subcategory}} Graph</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn bg-teal btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn bg-teal btn-sm" data-widget="remove"><i class="fa fa-times"></i>
                </button>
            </div>
      </div>
      <div class="box-body chart-responsive">
              <div class="chart" id="{{subcategory}}"></div>
      </div>
</div>
</div>
<script>
  $(function () {
    "use strict";

    // LINE CHART
        var {{subcategory}} = new Morris.Line({
          element: '{{subcategory}}',
          resize: true,
          data: [
            {% for item in stats %}
              {% for month,x in item.items %}
                {month: '2017-{{month}}', income: {{x.0}}, outcome: {{x.1}} },
            
              {% endfor %}
            {% endfor %}
          ],
          xkey: 'month',
          ykeys: ['income','outcome'],
          labels: ['Income', 'Outcome'],
          lineColors: ['#00ff00','#ff0000'],
          hideHover: 'auto',
          xLabels:'month'
        });

        });

</script>

{% endfor %}
</div>
{% endblock %}